<h1>TOP 5</h1>
<div class="row">
  <%= render partial: 'hotels/list_item', collection: @top_hotels, as: :hotel %>
</div>

<h2>List of hotels:</h2>
<div class="row">
  <%= render partial: 'hotels/list_item', collection: @hotels, as: :hotel %>
</div>
